workflows/walks-processing.json
{
  "name": "Align Recording to GitHub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-the-walk",
        "options": {
          "binaryData": true
        }
      },
      "id": "aa7fb30c-cef5-45cb-a7a4-22ebeb2d1c42",
      "name": "Webhook (Receive File)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -288,
        64
      ],
      "webhookId": "e1b0ed00-2d93-445c-8f9b-8fc3475074aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.deepgram.com/v1/listen",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nova-3"
            },
            {
              "name": "smart_format",
              "value": "true"
            },
            {
              "name": "detect_language",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        64
      ],
      "id": "c9f8623e-b9ca-4c97-8e30-32daa16caa07",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "bNByAARz3F8KxeDO",
          "name": "LOOM Deepgram Header Auth"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "===TODAY'S DATE: {{ $json.today }}\n\n## Project Registry\n{{ $json.projectRegistry }}\n\nMEMORY INDEX:\n{{ $json.memoryIndex }}\n\nROLLING CONTEXT:\n{{ $json.rollingContext }}\n\nTODAY'S TRANSCRIPT:\n{{ $json.transcript }}"
            },
            {
              "content": "={{ $('Decode prompt').item.json.augmentedPrompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1488,
        64
      ],
      "id": "1c4f0252-47cd-479e-b57d-f67310492625",
      "name": "Message a model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7Ro4QURT9Kr7c2Hg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handover\nconst handoverRaw = $('Get handover').item.json;\nconst rollingContext = Buffer.from(handoverRaw.content, 'base64').toString('utf-8');\n\n// Projects registry — graceful fallback if file missing\nlet projectRegistry = '(no project registry)';\nlet tagList = '#misc, #personal';\nconst projectsRaw = $('Get _projects').item.json;\nif (projectsRaw && projectsRaw.content) {\n  projectRegistry = Buffer.from(projectsRaw.content, 'base64').toString('utf-8').trim();\n  const tagMatches = [...projectRegistry.matchAll(/\\|\\s*`(#\\w+)`\\s*\\|/g)];\n  if (tagMatches.length) tagList = tagMatches.map(m => m[1]).join(', ');\n}\n\n// Memory index — direct input (from Get memory index)\nlet memoryIndex = '(no entries yet)';\nlet memoryIndexSHA = '';\nif (items[0].json.content) {\n  memoryIndex = Buffer.from(items[0].json.content, 'base64').toString('utf-8').trim();\n  memoryIndexSHA = items[0].json.sha || '';\n}\n\n// Inject tag list into system prompt\nconst rawPrompt = $('Decode prompt').item.json.prompt;\nconst augmentedPrompt = rawPrompt.replace('{{PROJECT_TAGS}}', tagList);\n\nreturn [{\n  json: {\n    rollingContext,\n    projectRegistry,\n    memoryIndex,\n    memoryIndexSHA,\n    transcript: $('Get transcript').item.json.transcript,\n    today: new Date().toISOString().slice(0, 10),\n    augmentedPrompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        64
      ],
      "id": "5b20c1a3-34b2-4a00-9965-13eabd97af2f",
      "name": "Decode"
    },
    {
      "parameters": {
        "jsCode": "const raw = items[0].json.content.parts[0].text;\n\nconst parts = raw.split('===ROLLING_UPDATE===');\nif (parts.length < 2) {\n  throw new Error('Missing ===ROLLING_UPDATE=== delimiter — check Gemini output');\n}\n\nconst rollingAndRest = parts[1].split('===ARCHIVE_ENTRIES===');\nif (rollingAndRest.length < 2) {\n  throw new Error('Missing ===ARCHIVE_ENTRIES=== delimiter — check Gemini output');\n}\n\nconst archiveAndMemory = rollingAndRest[1].split('===MEMORY_ENTRIES===');\nif (archiveAndMemory.length < 2) {\n  throw new Error('Missing ===MEMORY_ENTRIES=== delimiter — check Gemini output');\n}\n\nreturn [{\n  json: {\n    dailyNote:      parts[0].trim(),\n    rollingUpdate:  rollingAndRest[0].trim(),\n    archiveEntries: archiveAndMemory[0].trim(),\n    memoryEntries:  archiveAndMemory[1].trim(),\n    today:          new Date().toISOString().slice(0, 10)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        64
      ],
      "id": "2bd055c1-9bfe-43d3-a322-f52cecc3461e",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "handover/rolling-handover.md",
        "fileContent": "={{ $('Parse Output').item.json.rollingUpdate }}",
        "commitMessage": "={{ 'handover: ' + $('Parse Output').item.json.today }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        -48
      ],
      "id": "ac753b76-f656-478b-a99a-c4660f2421cf",
      "name": "Edit a file",
      "webhookId": "a9a46eb2-53fc-4db0-9bfa-cde12e90cabb",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "={{ 'walks/' + $('Parse Output').item.json.today + '.md' }}",
        "fileContent": "={{ $('Parse Output').item.json.dailyNote }}",
        "commitMessage": "={{ 'walks: ' + $('Parse Output').item.json.today }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2688,
        -48
      ],
      "id": "d195ffc8-3d22-45c6-9203-82466f57e4f8",
      "name": "Create a file",
      "webhookId": "da1c752a-d250-4a46-a35f-3254945f082d",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "handover/archive.md",
        "fileContent": "={{ $('Decode archive').item.json.existingContent + \"\\n\\n### \" + $('Parse Output').item.json.today + \"\\n\" + $('Parse Output').item.json.archiveEntries }}",
        "commitMessage": "={{ 'archive: ' + $('Parse Output').item.json.today }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2448,
        160
      ],
      "id": "01291778-f1df-4048-8834-263d7298211f",
      "name": "Append to archive",
      "webhookId": "a9a46eb2-53fc-4db0-9bfa-cde12e90cabb",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const binaryData = items[0].json.content;\nconst decoded = Buffer.from(binaryData, 'base64').toString('utf-8');\n\nreturn [{\n  json: {\n    existingContent: decoded\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        160
      ],
      "id": "e99c5a18-e2de-4974-803e-a1b79a73bcde",
      "name": "Decode archive"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "={{ 'memory/' + $('Parse Output').item.json.today.slice(0, 7) + '.md' }}",
        "fileContent": "={{ $('Decode memory').item.json.existingContent + \"\\n\\n## \" + $('Parse Output').item.json.today + \"\\n\\n\" + $('Parse Output').item.json.memoryEntries }}",
        "commitMessage": "={{ 'memory: ' + $('Parse Output').item.json.today }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2448,
        368
      ],
      "id": "975320bd-4031-4578-bd08-b63e6244720e",
      "name": "Append memory",
      "webhookId": "a9a46eb2-53fc-4db0-9bfa-cde12e90cabb",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = items[0].json.content;\nif (!content) {\n  return [{ json: { existingContent: '' } }];\n}\nconst decoded = Buffer.from(content, 'base64').toString('utf-8');\nreturn [{ json: { existingContent: decoded } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        368
      ],
      "id": "fa501b82-00c0-4995-aee0-102521ce36ec",
      "name": "Decode memory"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "handover/archive.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        160
      ],
      "id": "0106ff1b-ee02-446f-be98-f6d73db78326",
      "name": "Get archive",
      "webhookId": "cdb81808-e03b-49e6-b3ca-cad91346470b",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "={{ 'memory/' + new Date().toISOString().slice(0, 7) + '.md' }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        368
      ],
      "id": "2125ca45-5230-4500-bcf3-ae6b18201d0b",
      "name": "Get memory",
      "webhookId": "cdb81808-e03b-49e6-b3ca-cad91346470b",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "handover/rolling-handover.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        784,
        64
      ],
      "id": "e009fb8e-6bd6-404c-a24e-9aa95cc356e7",
      "name": "Get handover",
      "webhookId": "cdb81808-e03b-49e6-b3ca-cad91346470b",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "={{ 'walks/' + $('Parse Output').item.json.today + '.md' }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2064,
        -224
      ],
      "id": "1628c021-8cf1-408c-9444-e60baa8ba0cd",
      "name": "Check daily note exists",
      "webhookId": "b61889ad-75b8-471d-98f3-d67411d3f3e2",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5661c21c-2cff-4315-9b72-dfef9b63106e",
              "leftValue": "={{ $('Decode daily note').item.json.fileExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        -224
      ],
      "id": "c7e9d2b0-a636-4fc2-a2e5-3287c54187c5",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "={{ 'walks/' + $('Parse Output').item.json.today + '.md' }}",
        "fileContent": "={{ $('Decode daily note').item.json.existingContent + \"\\n\\n---\\n\\n## Second Note — \" + $now.format('HH:mm') + \"\\n\\n\" + $('Parse Output').item.json.dailyNote }}",
        "commitMessage": "={{ 'walks: ' + $('Parse Output').item.json.today }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2688,
        -240
      ],
      "id": "c08dfaa9-9334-4906-bb27-728da6fcf7e1",
      "name": "Edit daily note",
      "webhookId": "845eafff-420a-4c7a-ae0e-cd0b1e25d10a",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = items[0].json.content;\nconst sha = items[0].json.sha;\n\nif (!content || items[0].json.error) {\n  return [{ json: { existingContent: '', fileExists: false, sha: '' } }];\n}\n\ntry {\n  const decoded = Buffer.from(content, 'base64').toString('utf-8');\n  return [{ json: { existingContent: decoded, fileExists: true, sha: sha } }];\n} catch(e) {\n  return [{ json: { existingContent: '', fileExists: false, sha: '' } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -224
      ],
      "id": "013b7887-3496-49d1-96eb-8348be1e6d04",
      "name": "Decode daily note"
    },
    {
      "parameters": {
        "jsCode": "if (!items[0].json.results) {\n  return [{json: {transcript: \"Error: No transcription returned\"}}];\n}\n\nconst alternatives = items[0].json.results.channels[0].alternatives[0];\nconst transcript = alternatives.paragraphs?.transcript || alternatives.transcript;\n\nreturn [{json: {transcript}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        64
      ],
      "id": "bb2f31ca-25af-4540-b875-e9540a0723a7",
      "name": "Get transcript"
    },
    {
      "parameters": {
        "content": "Enhance the Memory branch to create a new YYYY-MM.md file on every 1st of each month."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        544
      ],
      "typeVersion": 1,
      "id": "7463b0fa-bcc6-48c5-9a42-8a249e6fe88a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "align",
          "mode": "list",
          "cachedResultName": "align",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/align"
        },
        "filePath": "prompts/gemini-main.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        384,
        64
      ],
      "id": "3e593c83-8d1b-47fc-a35c-a86ce649bdbe",
      "name": "Get prompt",
      "webhookId": "587edcd8-b8bd-4b56-98fc-00a996ff244a",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const decoded = Buffer.from(items[0].json.content, 'base64').toString('utf-8');\nreturn [{ json: { prompt: decoded } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        64
      ],
      "id": "bf2820d9-8d19-4573-addd-32d197a97c4a",
      "name": "Decode prompt"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas/",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "memory/memory-index.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1136,
        64
      ],
      "id": "6244e974-b6d4-4210-8d9e-d5f8ab509afe",
      "name": "Get memory index",
      "webhookId": "4033be34-5ced-4990-bfc4-3335867042e6",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const memoryEntries = $('Parse Output').item.json.memoryEntries || '';\nconst existingIndex = $('Decode').item.json.memoryIndex || '';\nconst indexSHA = $('Decode').item.json.memoryIndexSHA || '';\n\n// No entries written this session\nif (!memoryEntries || memoryEntries.trim() === '(no memory entries today)') {\n  return [{ json: { hasNewEntries: false, updatedIndex: existingIndex, indexSHA } }];\n}\n\nconst newLines = [];\nconst blocks = memoryEntries.split(/(?=###\\s+\\d{8}-)/g).filter(b => b.trim());\n\nfor (const block of blocks) {\n  const idMatch       = block.match(/###\\s+(\\d{8}-[\\w-]+)/);\n  const typeMatch     = block.match(/- type:\\s*(\\w+)/);\n  const projectMatch  = block.match(/- project:\\s*(.+)/);\n  const entryMatch    = block.match(/- entry:\\s*(.+)/);\n  const supersedesMatch = block.match(/- supersedes:\\s*(\\S+)/);\n\n  if (idMatch && typeMatch && projectMatch && entryMatch) {\n    const id         = idMatch[1].trim();\n    const type       = typeMatch[1].trim();\n    const project    = projectMatch[1].trim();\n    const raw        = entryMatch[1].trim();\n    const summary    = raw;\n    const supersedes = supersedesMatch ? supersedesMatch[1].trim() : '—';\n    const affects    = '—'; // populated in a future phase\n\n    newLines.push(`${id} | ${type} | ${project} | ${summary} | ${supersedes} | ${affects}`);\n  }\n}\n\nif (newLines.length === 0) {\n  return [{ json: { hasNewEntries: false, updatedIndex: existingIndex, indexSHA } }];\n}\n\nconst header = '<!-- v1: id | type | project | summary | supersedes | affects -->';\nconst base = (!existingIndex || existingIndex === '(no entries yet)') ? header : existingIndex;\nconst updatedIndex = base.trimEnd() + '\\n' + newLines.join('\\n') + '\\n';\n\nreturn [{ json: { hasNewEntries: true, updatedIndex, indexSHA } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        368
      ],
      "id": "fb8ab114-a7a8-4f57-9355-bbf30dde84e4",
      "name": "Extract index lines"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "93d25134-5d3f-4f6d-83d0-89a939984f51",
              "leftValue": "={{ $json.hasNewEntries }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2864,
        368
      ],
      "id": "e106bda6-634d-4d5b-a76d-df3d297400d9",
      "name": "Has new entries"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas/",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "memory/memory-index.md",
        "fileContent": "={{ $json.updatedIndex }}",
        "commitMessage": "={{ 'memory-index: ' + new Date().toISOString().slice(0, 10) }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3072,
        352
      ],
      "id": "d0d67222-6c20-43bb-b1f8-5ae62641f73e",
      "name": "Update memory index",
      "webhookId": "2546dbce-a66f-4282-8f70-e4ea686957a4",
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "https://github.com/bitcoin21ideas/",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "walks",
          "mode": "list",
          "cachedResultName": "walks",
          "cachedResultUrl": "https://github.com/bitcoin21ideas/walks"
        },
        "filePath": "memory/_projects.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        960,
        64
      ],
      "id": "6899244d-8a40-4e08-b714-eae1a750a9d4",
      "name": "Get _projects",
      "webhookId": "4033be34-5ced-4990-bfc4-3335867042e6",
      "retryOnFail": false,
      "credentials": {
        "githubApi": {
          "id": "u0oRLNwZf6RpWMny",
          "name": "My Walks Token"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Receive File)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get archive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check daily note exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode archive": {
      "main": [
        [
          {
            "node": "Append to archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode memory": {
      "main": [
        [
          {
            "node": "Append memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get archive": {
      "main": [
        [
          {
            "node": "Decode archive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get memory": {
      "main": [
        [
          {
            "node": "Decode memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get handover": {
      "main": [
        [
          {
            "node": "Get _projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        []
      ]
    },
    "Check daily note exists": {
      "main": [
        [
          {
            "node": "Decode daily note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit daily note",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode daily note": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcript": {
      "main": [
        [
          {
            "node": "Get prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get prompt": {
      "main": [
        [
          {
            "node": "Decode prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode prompt": {
      "main": [
        [
          {
            "node": "Get handover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get memory index": {
      "main": [
        [
          {
            "node": "Decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append memory": {
      "main": [
        [
          {
            "node": "Extract index lines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract index lines": {
      "main": [
        [
          {
            "node": "Has new entries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has new entries": {
      "main": [
        [
          {
            "node": "Update memory index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get _projects": {
      "main": [
        [
          {
            "node": "Get memory index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "hKwMHDUEBHWVPu5V",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "078e6759-c919-4d4b-874c-bf8ac5adb20b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d107b667dbcfe458d31a1af9d1fa4cf48ab581d17d0b88e095c67421f97a6dae"
  },
  "id": "0WN9w6TIPOMTKSe1",
  "tags": [
    {
      "updatedAt": "2026-04-05T04:20:20.533Z",
      "createdAt": "2026-04-05T04:20:20.533Z",
      "id": "mMQJ05uXx69h21PQ",
      "name": "personal"
    },
    {
      "updatedAt": "2026-02-12T06:02:53.663Z",
      "createdAt": "2026-02-12T06:02:53.663Z",
      "id": "5yah6pzKGQBF7TZ4",
      "name": "loom"
    }
  ]
}